/* Styles globaux */
body {
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #342D67, #6759CD);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section{
    width: 60%;
    margin: 40px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: linear-gradient(to left, #342d6d, #6759CD);
}

.retour{
    color: #D28C64;
    font-weight: bolder;
}

.btn-submit{
    background-color: #D28C64;
    border-radius: 5px; /* Adjust for rounded corners */
    padding: 5px; /* Padding for buttons */
    height: auto; /* Fixed height */
    box-shadow: none;
}

input{
    border-radius: 5px; /* Adjust for rounded corners */
    padding: 5px;
    box-shadow: none;
    border: none;

}